* {
  z-index: 0;
}
a{
  text-decoration:none !important;
  color: #fff !important;
}
body {
  background-color: #141414fa !important;
  color: #fff !important;
}
#nprogress .bar {
  z-index: 2110 !important;
}
link{
  color: #fff !important; 
}